@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    @apply scroll-smooth;
}

#legendImage{
    background-repeat: no-repeat;
    background-size: auto 100vh;
    background-position: right top;
    background-blend-mode:darken;
}


@media (min-width: 1440px) {
    #legendImage {
        background-size: cover;
    }
}


#path1{
    stroke: black;
    stroke-width: 2;
    stroke-dasharray:600;
    stroke-dashoffset:600;
    animation: draw 6s linear forwards;
}

@keyframes draw{
    to{
        stroke-dashoffset:0;
    }
}